<div id="callback-popup-wrapper" class="popup-wrapper" onclick="closeCallForm()">
	<div class="popup-container" onclick="stopPropagation(event)">
		<div class="popup-header">
			<h5><%= local.popup.operators.heading %></h5>
			<button class="close" onclick="closeCallForm()">x</button>
		</div>
		<form id="popup-request-call" class="popup-contact" action="/<%= contentLanguage %>/mail" method="post">
			<div class="popup-free-operators">
				<% if (operators.recallMessage) { %>
					<p><%= operators.recallMessage %></p>
				<% } else { %>
					<p class="free">
						<b><%= operators.free %><i class="fa fa-phone"></i></b>
						<% if (operators.free > 1) { %>
							<%= local.popup.operators.free.plural %>
						<% } else { %>  
							<%= local.popup.operators.free.singular %>
						<% } %>
					</p>
					<p class="busy">
						<b><%= operators.busy %><i class="fa fa-times"></i></b>
						<% if (operators.busy > 1) { %>
							<%= local.popup.operators.busy.plural %>
						<% } else { %>  
							<%= local.popup.operators.busy.singular %>
						<% } %>
					</p>
				<% } %>
			</div>
			<fieldset>
				<input placeholder="<%= local.popup.form.input.phone %>" name="phone" type="text" tabindex="2" required>
				<input name="service" type="text" value="<%= local[part.info].service %>" class="display-none">
				<input name="redirectUrl" type="text" value="/<%= contentLanguage %>/<%= part.info %>" class="display-none">
				<button name="submit" type="submit" class="contact-submit" data-submit="...Sending"><i class="fa fa-check"></i></button>
			</fieldset>
		</form>
	</div>
</div>
<!-- END POPUP CALLBACK FORM -->
<!-- CALLBACK WIDGET -->
<div id="callback-wrapper" onclick="openCallForm()">
	<div class="pulse" id="btn">
		<div class="phone"><i class="fa fa-phone"></i></div>
	</div>
</div>
<!-- END CALLBACK WIDGET -->