<div class="col-12 col-sm-6 case">
    <a href="<%= singleCase.link || `/${contentLanguage}/${service}/cases/${singleCase.name}`; %>">
        <img class="lazy" data-src="/img/cases/<%= service; %>/<%= singleCase.name; %>.jpg" alt="">
    </a>
    <div class="desc <% if (singleCase.isAlternate) { %> alternate <% } %>">
        <h3><%- singleCase.heading; %></h3>
        <h5><%- singleCase.desc; %></h5>
        <a href="<%= singleCase.link || `/${contentLanguage}/${service}/cases/${singleCase.name}`; %>" target="_blank">
            Посмотреть проект →
        </a>
    </div>
</div>
