<section id="development-plan">
    <div class="container">
    	<div class="row header">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading"><%= local[part.info].developmentPlan.heading %></h2>
				<span class="separator"></span>
			</div>
		</div>
        <div class="development-plan__items">
            <div class="development-plan__item plan__item--white">
                <div class="development-plan__item-images">
                    <img src="/img/logos/1.png" alt="">
                </div>
                <div class="development-plan__item-text"><%= local[part.info].developmentPlan.content1 %></div>
            </div>
            <div class="development-plan__item plan__item--black">
                <div class="development-plan__item-images--global"></div>
                <div class="development-plan__item-images">
                    <img src="/img/logos/2.png" alt="">
                </div>
                <div class="development-plan__item-text"><%= local[part.info].developmentPlan.content2 %></div>
            </div>
            <div class="development-plan__item plan__item--white">
                <div class="development-plan__item-images">
                    <img src="/img/logos/3.png" alt="">
                </div>
                <div class="development-plan__item-text"><%= local[part.info].developmentPlan.content3 %></div>
            </div>
            <div class="development-plan__item plan__item--black">
                <div class="development-plan__item-images">
                    <img src="/img/logos/4.png" alt="">
                </div>
                <div class="development-plan__item-text"><%= local[part.info].developmentPlan.content4 %></div>
            </div>
        </div>
    </div>
</section>