<footer>
	<div class="container">
		<div class="row">
			<!-- UPPER FOOTER -->
			<div class="upper-footer">
				<div class="pull-left">
					<a class="logo page-scroll" href="/<%= contentLanguage %>/home">
						<img src="/img/logos/dniprogram1.png"
							 class="img-responsive"
							 alt="Dniprogram logo"
							 title="Dniprogram logo">
					</a>
					<p><%= local.footer.text %></p>
				</div>
				<div class="pull-right">
					<ul class="footer-nav">
						<li class="">
							<a class="page-scroll" href="/<%= contentLanguage %>/portfolio">
								<%= local.navbar.text1 %>
							</a>
						</li>
						<li class="">
							<a class="page-scroll" href="/<%= contentLanguage %>/services">
								<%= local.navbar.text2 %>
							</a>
						</li>
						<li class="">
							<a class="page-scroll" href="/<%= contentLanguage %>/about">
								<%= local.navbar.text3 %>
							</a>
						</li>
					</ul>
					<ul class="footer-secondary-nav">
						<li class="">
							<a href="tel:+380977351159"><span class="fa fa-phone"></span>+380-97-735-11-59</a>
						</li>
						<li class="">
							<a class="page-scroll" href="mailto:dniprogramua@gmail.com"><span class="fa fa-envelope"></span>dniprogramua@gmail.com</a>
						</li>
						<li class="">
							<a class="page-scroll" href="https://www.google.com/maps/@50.4496376,30.4504477,17z"><span class="fa fa-map-marker"></span><%= local.footer.address %></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>