<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header page-scroll">
			<a class="logo page-scroll" href="/<%= contentLanguage %>/home">
				<img src="/img/logos/dniprogram1.png"
					 class="img-responsive header-logo"
					 alt="Dniprogram logo"
					 title="Dniprogram logo">
			</a>
			<span class="button-wrapper">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</span>
		</div>
		<div class="collapse navbar-collapse" id="main-menu">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a class="page-scroll" href="/<%= contentLanguage %>/portfolio">
						<%= local.navbar.text1 %>		
					</a>
				</li>
				<li>
					<a class="page-scroll" href="/<%= contentLanguage %>/services">
						<%= local.navbar.text2 %>
					</a>
				</li>
				<li>
					<a class="page-scroll" href="/<%= contentLanguage %>/about">
						<%= local.navbar.text3 %>
					</a>
				</li>
				<li class="language-list">
					<div class="single-language current-language">
						<img style="width: 40px;" src="/img/logos/<%= contentLanguage %>.png" alt="">
					</div>
					<ul>
						<li>
							<div class="single-language">
								<a href="/<%= otherLanguages[0] %>/<%= part.info %>">
									<img style="width: 40px;" src="/img/logos/<%= otherLanguages[0] %>.png" alt="">
								</a>
							</div>
						</li>
						<li>
							<div class="single-language">
								<a href="/<%= otherLanguages[1] %>/<%= part.info %>">
									<img style="width: 40px;" src="/img/logos/<%= otherLanguages[1] %>.png" alt="">
								</a>
							</div>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>