<section id="testimonials" class="clients-feedback-area">
	<div class="container">
		<div class="row">
			<div class="col-12 col-xs-12 col-md-12 col-lg-12">
				<div class="owl-carousel owl-carousel-testimonials">
					<!-- Client Feedback Text  -->
					<div class="client-feedback-text text-center">
						<div class="client">
							<i class="fa fa-quote-left" aria-hidden="true"></i>
						</div>
						<div class="client-description text-center">
							<p><%= local.testimonials.content1.text %></p>
						</div>
						<div class="star-icon text-center">
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
						</div>
						<div class="client-name text-center">
							<h5><%= local.testimonials.content1.name %></h5>
							<p><%= local.testimonials.content1.position %></p>
						</div>
						<div class="client-img">
							<img src="/img/clients/client1.jpg" alt="Client 1" title="Client 1">
						</div>
					</div>
					<!-- Client Feedback Text  -->
					<div class="client-feedback-text text-center">
						<div class="client">
							<i class="fa fa-quote-left" aria-hidden="true"></i>
						</div>
						<div class="client-description text-center">
							<p><%= local.testimonials.content2.text %></p>
						</div>
						<div class="star-icon text-center">
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
						</div>
						<div class="client-name text-center">
							<h5><%= local.testimonials.content2.name %></h5>
							<p><%= local.testimonials.content2.position %></p>
						</div>
						<div class="client-img">
							<img src="/img/clients/client2.jpg" alt="Client 2" title="Client 2">
						</div>
					</div>
					<!-- Client Feedback Text  -->
					<div class="client-feedback-text text-center">
						<div class="client">
							<i class="fa fa-quote-left" aria-hidden="true"></i>
						</div>
						<div class="client-description text-center">
							<p><%= local.testimonials.content3.text %></p>
						</div>
						<div class="star-icon text-center">
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
						</div>
						<div class="client-name text-center">
							<h5><%= local.testimonials.content3.name %></h5>
							<p><%= local.testimonials.content3.position %></p>
						</div>
						<div class="client-img">
							<img src="/img/clients/client3.jpg" alt="Client 3" title="Client 3">
						</div>
					</div>
					<!-- Client Feedback Text  -->
					<div class="client-feedback-text text-center">
						<div class="client">
							<i class="fa fa-quote-left" aria-hidden="true"></i>
						</div>
						<div class="client-description text-center">
							<p><%= local.testimonials.content4.text %></p>
						</div>
						<div class="star-icon text-center">
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
						</div>
						<div class="client-name text-center">
							<h5><%= local.testimonials.content4.name %></h5>
							<p><%= local.testimonials.content4.position %></p>
						</div>
						<div class="client-img">
							<img src="/img/clients/client4.jpg" alt="Client 4" title="Client 4">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>