<section id="website-extras">
	<div class="container">
		<!-- WEBSITE EXTRAS HEADING -->
		<div class="row">
			<div class="row header">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading"><%= local.websiteExtras.heading %></h2>
					<span class="separator"></span>
				</div>
			</div>
		</div>
		<!-- END WEBSITE EXTRAS HEADING -->
		<!-- CAROUSEL -->
		<div class="row">
			<div class="col-12 col-xs-12 col-md-12 col-lg-12">
				<div class="owl-carousel owl-carousel-website-extras">
					<div class="website-extra carousel-card">
						<div class="website-extra__image">
                            <img src="/img/logos/keycap.png" alt="">
                        </div>

                        <div class="website-extra__title">
                            <h3><%= local.websiteExtras.content1.heading %></h3>
                        </div>

                        <div class="website-extra__paragraph">
                            <p>
                                <%= local.websiteExtras.content1.text %>
                            </p>
                        </div>
					</div>

                    <div class="website-extra carousel-card">
                        <div class="website-extra__image">
                            <img src="/img/logos/cloud.png" alt="">
                        </div>

                        <div class="website-extra__title">
                            <h3><%= local.websiteExtras.content2.heading %></h3>
                        </div>

                        <div class="website-extra__paragraph">
                            <p>
                                <%= local.websiteExtras.content2.text %>
                            </p>
                        </div>
                    </div>

                    <div class="website-extra carousel-card">
                        <div class="website-extra__image">
                            <img src="/img/logos/teacher.png" alt="">
                        </div>

                        <div class="website-extra__title">
                            <h3><%= local.websiteExtras.content3.heading %></h3>
                        </div>

                        <div class="website-extra__paragraph">
                            <p>
                                <%= local.websiteExtras.content3.text %>
                            </p>
                        </div>
                    </div>

                    <div class="website-extra carousel-card">
                        <div class="website-extra__image">
                            <img src="/img/logos/battery.png" alt="">
                        </div>

                        <div class="website-extra__title">
                            <h3><%= local.websiteExtras.content4.heading %></h3>
                        </div>

                        <div class="website-extra__paragraph">
                            <p>
                                <%= local.websiteExtras.content4.text %>
                            </p>
                        </div>
                    </div>
				</div>
			</div>
		</div>
		<!-- END CAROUSEL -->
	</div>
</section>
