<section id="services">
	<div class="container">
		<div class="row header">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading"><%= local.why.heading %></h2>
				<span class="separator"></span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<img src="/img/logos/key.png" alt="Turnkey" title="Turnkey">
				<h4 class="service-heading"><%= local.why.content1.heading %></h4>
				<p class=""><%= local.why.content1.text %></p>
			</div>
			<div class="col-md-3">
				<img src="/img/logos/people.png" alt="Client" title="Client">
				<h4 class="service-heading"><%= local.why.content2.heading %></h4>
				<p class=""><%= local.why.content2.text %></p>
			</div>
			<div class="col-md-3">
				<img src="/img/logos/hourglass.png" alt="In time" title="In time">
				<h4 class="service-heading"><%= local.why.content3.heading %></h4>
				<p class=""><%= local.why.content3.text %></p>
			</div>
			<div class="col-md-3 last">
				<img src="/img/logos/presentation.png" alt="Result presentation" title="Result presentation">
				<h4 class="service-heading"><%= local.why.content4.heading %></h4>
				<p class=""><%= local.why.content4.text %></p>
			</div>
		</div>
	</div>
</section>