<!DOCTYPE html>
<html lang="<%= local.lang %>">
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-155533957-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		  gtag('config', 'UA-155533957-1');
		</script>
		<!-- META TAGS -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="description" content="<%= local[part.info].description %>">
		<meta name="author" content="Dniprogram" />
		<meta name="yandex-verification" content="1c201f43d45d8ba5" />
		<!-- SITE TITLE -->
		<title><%= local[part.info].title %></title>
		<!-- STYLESHEETS -->
		<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
		<link rel="stylesheet" href="/css/style.css" type="text/css">
		<link rel="stylesheet" href="/css/responsive.css" type="text/css">
		<link rel="stylesheet" href="/css/ionicons.min.css" type="text/css">
		<link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
		<link rel="stylesheet" href="/css/owl.theme.default.min.css" type="text/css">
		<link rel="stylesheet" href="/css/rmodal.min.css" type="text/css">
		<!-- FAVICON  -->
		<link rel="icon" href="/img/favicon.ico">
	</head>
	<body>
		<!-- PRELOADER -->
		<div id="preloader">
			<div class="spinner"></div>
		</div>
		<!-- END PRELOADER -->

		<!-- MAIN NAV -->
		<%- include(`parts/blocks/navbar`) %>
		<!-- END MAIN NAV -->
		
		<!-- TEAM -->
		<%- include(`parts/blocks/team`) %>
		<!-- END TEAM -->

		<!-- PARTNERS -->
		<%- include(`parts/blocks/partners`) %>
		<!-- END PARTNERS -->
		
		<!-- TESTIMONIALS -->
		<%- include(`parts/blocks/testimonials`) %>
		<!-- END TESTIMONIALS -->
		
		<!-- CONTACT -->
		<%- include(`parts/blocks/contact`) %>
		<!-- END CONTACT -->
		
		<!-- FOOTER -->
		<%- include(`parts/blocks/footer`) %>
		<!-- END FOOTER -->
		
		<!-- POPUP CONTACT FORM -->
		<%- include(`parts/blocks/popupContact`) %>
		<!-- END POPUP CONTACT FORM -->
		
		<!-- CALLBACK WIDGET -->
		<%- include(`parts/blocks/callbackWidget`) %>
		<!-- END CALLBACK WIDGET -->
		
		<!-- SCRIPTS -->
		<!-- jQuery & Bootstrap -->
		<script src="/js/jquery.js"></script>
		<script src="/js/jquery.easing.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<!-- smoothscroll  -->
		<script src="/js/smoothscroll.js"></script>
		<!-- classie  -->
		<script src="/js/classie.js"></script>
		<!-- piechart  -->
		<script src="/js/jquery.easytabs.min.js"></script>
		<!-- jquery mask plugin -->
		<script src="/js/jquery.mask.js"></script>
		<!-- tabs  -->
		<script src="/js/piechart.js"></script>
		<!-- sliders -->
		<script src="/js/owl.carousel.min.js"></script>
		<script src="/js/owl.animate.js"></script>
		<!-- popup -->
		<script src="/js/rmodal.js"></script>
		<script src="/js/popup.js"></script>
		<!-- callback widget -->
		<script src="/js/callwidget.js"></script>
		<!-- contact form -->
		<script src="/js/jqBootstrapValidation.js"></script>
		<!-- custom script -->
		<script src="/js/scripts.js"></script>
		<!-- numscroller -->
		<script src="/js/jquery.numscroller-1.0.js"></script>
		<!-- carousel -->
		<script src="/js/slider.js"></script>
		<!-- lazy load -->
		<script src="/js/lazy.js"></script>
	</body>
</html>
