<!DOCTYPE html>
<html lang="<%= local.lang %>">
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-155533957-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		  gtag('config', 'UA-155533957-1');
		</script>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="description" content="KeySoft - Software Landing Page">
		<meta name="author" content="KeyDesign" />
		<!-- SITE TITLE -->
		<title><%= local.title %></title>
		<!-- STYLESHEETS -->
		<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
		<link rel="stylesheet" href="css/style.css" type="text/css">
		<link rel="stylesheet" href="css/responsive.css" type="text/css">
		<link rel="stylesheet" href="css/ionicons.min.css" type="text/css">
		<link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
		<link rel="stylesheet" href="css/owl.theme.default.min.css" type="text/css">
		<link rel="stylesheet" href="css/rmodal.min.css" type="text/css">
		<!-- FAVICON  -->
		<link rel="icon" href="img/favicon.ico">
	</head>
	<body>
		<!-- PRELOADER -->
		<div id="preloader">
			<div class="spinner"></div>
		</div>
		<!-- MAIN NAV -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header page-scroll">
					<a class="logo page-scroll" href="#header">
						<img src="img/logos/dniprogram1.png"
							 class="img-responsive header-logo"
							 alt="">
					</a>
					<span class="button-wrapper">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</span>
				</div>
				<div class="collapse navbar-collapse" id="main-menu">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a class="page-scroll" href="#why">
								<%= local.navbar.text1 %>		
							</a>
						</li>
						<li>
							<a class="page-scroll" href="#services">
								<%= local.navbar.text2 %>
							</a>
						</li>
						<li>
							<a class="page-scroll" href="#team">
								<%= local.navbar.text3 %>
							</a>
						</li>
						<li>
							<a class="page-scroll" href="#testimonials">
								<%= local.navbar.text4 %>
							</a>
						</li>
						<li>
							<a class="page-scroll" href="#contact">
								<%= local.navbar.text5 %>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- END MAIN NAV -->
		<!-- HEADER -->
		<header id="header">
			<div class="container">
				<div class="intro-text">
					<h1 class="intro-lead-in"><%= local.header.intro %></h1>
					<span class="intro-heading"><%= local.header.heading %></span>
					<div class="header-buttons">
						<a href="#" class="primary-button" onclick="openForm()"><%= local.header.contact %></a>
						<a href="#why" class="secondary-button page-scroll hidden-xs"><%= local.header.more %></a>
					</div>

					<div class="header-dashboard"> 
						<svg class="arrows">
							<path class="a1" d="M0 0 L30 32 L60 0"></path>
							<path class="a2" d="M0 20 L30 52 L60 20"></path>
							<path class="a3" d="M0 40 L30 72 L60 40"></path>
						</svg>
					</div>
				</div>
			</div>
			<div id="particles-js"></div>
		</header>
		<!-- END HEADER -->
		<!-- WHY WE -->
		<section id="why">
			<div class="container">
				<div class="row header">
					<div class="col-lg-12 text-center">
						<h2 class="section-heading"><%= local.about.heading %></h2>
						<span class="separator"></span>
					</div>
				</div>
				<div class="row content">
					<div class="col-4 col-xs-12 col-md-6 col-lg-4">
						<div class="heading">
							<img src="img/logos/worldwide.png" alt="">
							<h3><%= local.about.content1.heading %></h3>
							<p><%= local.about.content1.text %></p>
						</div>
					</div>
					<div class="col-4 col-xs-12 col-md-6 col-lg-4">
						<div class="heading">
							<img src="img/logos/layout.png" alt="">
							<h3><%= local.about.content2.heading %></h3>
							<p><%= local.about.content2.text %></p>
						</div>
					</div>
					<div class="col-4 col-xs-12 col-md-6 col-lg-4">
						<div class="heading">
							<img src="img/logos/flow.png" alt="">
							<h3><%= local.about.content3.heading %></h3>
							<p><%= local.about.content3.text %></p>
						</div>
					</div>
					<div class="col-5 col-xs-12 col-md-5 col-lg-5 col-centered">
						<div class="heading">
							<img src="img/logos/robot.png" alt="">
							<h3><%= local.about.content4.heading %></h3>
							<p><%= local.about.content4.text %></p>
						</div>
					</div>
					<div class="col-5 col-xs-12 col-md-5 col-lg-5 col-centered">
						<div class="heading">
							<img src="img/logos/personal-computer.png" alt="">
							<h3><%= local.about.content5.heading %></h3>
							<p><%= local.about.content5.text %></p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END WHY WE -->
		<!-- ***** Cool Facts Area Start ***** -->
		<section class="cool_facts_area clearfix">
			<div class="container">
				<div class="row">
					<!-- Single Cool Fact-->
					<div class="col-12 col-md-3 col-lg-3">
						<div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.2s">
							<div class="counter-area">
								<h3>
									<span class="counter numscroller" data-min="1" data-max="74" data-delay="6" data-increment="3">
										74
									</span>
								</h3>
							</div>
							<div class="cool-facts-content">
								<i class="ion-arrow-down-a"></i>
								<p><%- local.facts.text1 %></p>
							</div>
						</div>
					</div>
					<!-- Single Cool Fact-->
					<div class="col-12 col-md-3 col-lg-3">
						<div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.4s">
							<div class="counter-area">
								<h3>
									<span class="counter numscroller" data-min="1" data-max="72" data-delay="6" data-increment="3">
										72
									</span>
								</h3>
							</div>
							<div class="cool-facts-content">
								<i class="ion-happy-outline"></i>
								<p><%- local.facts.text2 %></p>
							</div>
						</div>
					</div>
					<!-- Single Cool Fact-->
					<div class="col-12 col-md-3 col-lg-3 third-fact">
						<div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.6s">
							<div class="counter-area">
								<h3>
									<span class="counter numscroller" data-min="1" data-max="16" data-delay="2" data-increment="1">
										16
									</span>
								</h3>
							</div>
							<div class="cool-facts-content">
								<i class="ion-person"></i>
								<p><%- local.facts.text3 %></p>
							</div>
						</div>
					</div>
					<!-- Single Cool Fact-->
					<div class="col-12 col-md-3 col-lg-3 fourth-fact">
						<div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.8s">
							<div class="counter-area">
								<h3>
									<span class="counter numscroller" data-min="1" data-max="3" data-delay="2" data-increment="1">
										3
									</span>
								</h3>
							</div>
							<div class="cool-facts-content">
								<i class="ion-ios-star-outline"></i>
								<p><%- local.facts.text4 %></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- ***** Cool Facts Area End ***** -->
		<!-- END SOLUTIONS -->
		<!-- SERVICES -->
		<section id="services">
			<div class="container">
				<div class="row header">
					<div class="col-lg-12 text-center">
						<h2 class="section-heading"><%= local.why.heading %></h2>
						<span class="separator"></span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<img src="img/logos/key.png" alt="">
						<h4 class="service-heading"><%= local.why.content1.heading %></h4>
						<p class=""><%= local.why.content1.text %></p>
					</div>
					<div class="col-md-3">
						<img src="img/logos/people.png" alt="">
						<h4 class="service-heading"><%= local.why.content2.heading %></h4>
						<p class=""><%= local.why.content2.text %></p>
					</div>
					<div class="col-md-3">
						<img src="img/logos/hourglass.png" alt="">
						<h4 class="service-heading"><%= local.why.content3.heading %></h4>
						<p class=""><%= local.why.content3.text %></p>
					</div>
					<div class="col-md-3 last">
						<img src="img/logos/presentation.png" alt="">
						<h4 class="service-heading"><%= local.why.content4.heading %></h4>
						<p class=""><%= local.why.content4.text %></p>
					</div>
				</div>
			</div>
		</section>
		<!-- END SERVICES -->
		<!-- TEAM -->
		<section id="team">
			<div class="container">
				<!-- TEAM HEADING -->
				<div class="row">
					<div class="row header">
						<div class="col-lg-12 text-center">
							<h2 class="section-heading"><%= local.team.heading %></h2>
							<span class="separator"></span>
						</div>
					</div>
				</div>
				<!-- END TEAM HEADING -->  
				<!-- CAROUSEL -->
				<div class="row">
					<div class="col-12 col-xs-12 col-md-12 col-lg-12">
						<div class="owl-carousel owl-carousel-team">
							<div class="team-member">
								<img src="img/team/alexceo.jpg" alt="">
								<div class="name"><%= local.team.content1.name %></div>
								<div class="position"><%= local.team.content1.position %></div>
							</div>
							<div class="team-member">
								<img src="img/team/lilya.jpg" alt="">
								<div class="name"><%= local.team.content2.name %></div>
								<div class="position"><%= local.team.content2.position %></div>
							</div>
							<div class="team-member">
								<img src="img/team/ilya.jpg" alt="">
								<div class="name"><%= local.team.content3.name %></div>
								<div class="position"><%= local.team.content3.position %></div>
							</div>
							<div class="team-member">
								<img src="img/team/vikalena.jpg" alt="">
								<div class="name"><%= local.team.content4.name %></div>
								<div class="position"><%= local.team.content4.position %></div>
							</div>
							<div class="team-member">
								<img src="img/team/kirill.jpg" alt="">
								<div class="name"><%= local.team.content5.name %></div>
								<div class="position"><%= local.team.content5.position %></div>
							</div>
							<div class="team-member">
								<img src="img/team/pavel.jpg" alt="">
								<div class="name"><%= local.team.content6.name %></div>
								<div class="position"><%= local.team.content6.position %></div>
							</div>
							<div class="team-member">
								<img src="img/team/nikita.jpg" alt="">
								<div class="name"><%= local.team.content7.name %></div>
								<div class="position"><%= local.team.content7.position %></div>
							</div>
							<div class="team-member">
								<img src="img/team/vilen.jpg" alt="">
								<div class="name"><%= local.team.content8.name %></div>
								<div class="position"><%= local.team.content8.position %></div>
							</div>
							<div class="team-member">
								<img src="img/team/polina.jpg" alt="">
								<div class="name"><%= local.team.content9.name %></div>
								<div class="position"><%= local.team.content9.position %></div>
							</div>
						</div>
					</div>
				</div>
				<!-- END CAROUSEL -->
			</div>
		</section>
		<!-- END TEAM -->
		<!-- CASES -->
		<!--  -->
		<!-- END CASES -->
		<!-- TESTIMONIALS -->
		<section id="testimonials" class="clients-feedback-area">
			<div class="container">
				<div class="row">
					<div class="col-12 col-xs-12 col-md-12 col-lg-12">
						<div class="owl-carousel owl-carousel-testimonials">
							<!-- Client Feedback Text  -->
							<div class="client-feedback-text text-center">
								<div class="client">
									<i class="fa fa-quote-left" aria-hidden="true"></i>
								</div>
								<div class="client-description text-center">
									<p><%= local.testimonials.content1.text %></p>
								</div>
								<div class="star-icon text-center">
									<i class="ion-ios-star"></i>
									<i class="ion-ios-star"></i>
									<i class="ion-ios-star"></i>
									<i class="ion-ios-star"></i>
									<i class="ion-ios-star"></i>
								</div>
								<div class="client-name text-center">
									<h5><%= local.testimonials.content1.name %></h5>
									<p><%= local.testimonials.content1.position %></p>
								</div>
								<div class="client-img">
									<img src="img/clients/client1.jpg" alt="">
								</div>
							</div>
							<!-- Client Feedback Text  -->
							<div class="client-feedback-text text-center">
								<div class="client">
									<i class="fa fa-quote-left" aria-hidden="true"></i>
								</div>
								<div class="client-description text-center">
									<p><%= local.testimonials.content2.text %></p>
								</div>
								<div class="star-icon text-center">
									<i class="ion-ios-star"></i>
									<i class="ion-ios-star"></i>
									<i class="ion-ios-star"></i>
									<i class="ion-ios-star"></i>
									<i class="ion-ios-star"></i>
								</div>
								<div class="client-name text-center">
									<h5><%= local.testimonials.content2.name %></h5>
									<p><%= local.testimonials.content2.position %></p>
								</div>
								<div class="client-img">
									<img src="img/clients/client2.jpg" alt="">
								</div>
							</div>
							<!-- Client Feedback Text  -->
							<div class="client-feedback-text text-center">
								<div class="client">
									<i class="fa fa-quote-left" aria-hidden="true"></i>
								</div>
								<div class="client-description text-center">
									<p><%= local.testimonials.content3.text %></p>
								</div>
								<div class="star-icon text-center">
									<i class="ion-ios-star"></i>
									<i class="ion-ios-star"></i>
									<i class="ion-ios-star"></i>
									<i class="ion-ios-star"></i>
									<i class="ion-ios-star"></i>
								</div>
								<div class="client-name text-center">
									<h5><%= local.testimonials.content3.name %></h5>
									<p><%= local.testimonials.content3.position %></p>
								</div>
								<div class="client-img">
									<img src="img/clients/client3.jpg" alt="">
								</div>
							</div>
							<!-- Client Feedback Text  -->
							<div class="client-feedback-text text-center">
								<div class="client">
									<i class="fa fa-quote-left" aria-hidden="true"></i>
								</div>
								<div class="client-description text-center">
									<p><%= local.testimonials.content4.text %></p>
								</div>
								<div class="star-icon text-center">
									<i class="ion-ios-star"></i>
									<i class="ion-ios-star"></i>
									<i class="ion-ios-star"></i>
									<i class="ion-ios-star"></i>
									<i class="ion-ios-star"></i>
								</div>
								<div class="client-name text-center">
									<h5><%= local.testimonials.content4.name %></h5>
									<p><%= local.testimonials.content4.position %></p>
								</div>
								<div class="client-img">
									<img src="img/clients/client4.jpg" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END TESTIMONIALS -->
		<!-- CONTACT -->
		<section class="footer-contact-area section_padding_100 clearfix" id="contact">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<!-- Heading Text  -->
						<div class="section-heading">
							<h2><%= local.contact.heading %></h2>
							<div class="line-shape"></div>
						</div>
						<div class="footer-text">
							<p><%- local.contact.text %></p>
						</div>
						<div class="address-text">
							<p><span><i class="fa fa-paper-plane" aria-hidden="true"></i>Telegram:</span><a href="https://t.me/kemarskiy"> @kemarskiy</a></p>
						</div>
						<div class="phone-text">
							<p><span><i class="fa fa-phone" aria-hidden="true"></i><%= local.contact.phone1 %></span><a href="tel:+380963705888"> +380-96-370-58-88</a></p>
							<p><span><i class="fa fa-phone" aria-hidden="true"></i><%= local.contact.phone2 %></span><a href="tel:+380977351159"> +380-97-735-11-59</a></p>
						</div>
						<div class="email-text">
							<p><span><i class="fa fa-envelope"></i>Email:</span><a href="mailto:dniprogramua@gmail.com"> dniprogramua@gmail.com</a></p>
						</div>
					</div>
					<div class="col-md-6">
						<!-- CONTACT FORM -->
						<form action="/mail" method="post" name="sentMessage" id="contactForm">
							<div class="row">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="<%= local.contact.form.input.name %>" id="name" name="name" required>
									<p class="help-block text-danger"></p>
								</div>
								<div class="form-group pull-right">
									<input type="email" class="form-control" placeholder="Email" id="email" name="email">
									<p class="help-block text-danger"></p>
								</div>
								<div class="form-group full-size">
									<input type="tel" class="form-control" placeholder="<%= local.contact.form.input.phone %>" id="phone" name="phone">
									<p class="help-block text-danger"></p>
								</div>
								<div class="form-group form-textarea">
									<textarea class="form-control" placeholder="<%= local.contact.form.input.message %>" id="message" name="message"></textarea>
									<p class="help-block text-danger"></p>
								</div>
								<div class="clearfix"></div>
								<div class="text-center">
									<div id="success"></div>
									<button type="submit" class="btn btn-xl"><%= local.contact.form.input.send %></button>
								</div>
							</div>
						</form>
						<!-- END CONTACT FORM -->
					</div>
				</div>
			</div>
		</section>
		<!-- END CONTACT -->
		<!-- FOOTER -->
		<footer>
			<div class="container">
				<div class="row">
					<!-- UPPER FOOTER -->
					<div class="upper-footer">
						<div class="pull-left">
							<a class="logo page-scroll" href="#page-top"><img src="img/logos/dniprogram1.png" class="img-responsive" alt=""></a>
							<p><%= local.footer.text %></p>
						</div>
						<div class="pull-right">
							<ul class="footer-nav">
								<li class="">
									<a class="page-scroll" href="#why">
										<%= local.navbar.text1 %>
									</a>
								</li>
								<li class="">
									<a class="page-scroll" href="#services">
										<%= local.navbar.text2 %>
									</a>
								</li>
								<li class="">
									<a class="page-scroll" href="#team">
										<%= local.navbar.text3 %>
									</a>
								</li>
								<li class="">
									<a class="page-scroll" href="#testimonials">
										<%= local.navbar.text4 %>
									</a>
								</li>
								<li class="">
									<a class="page-scroll" href="#contacts">
										<%= local.navbar.text5 %>
									</a>
								</li>
							</ul>
							<ul class="footer-secondary-nav">
								<li class="">
									<a href="tel:+380977351159"><span class="fa fa-phone"></span>+380-97-735-11-59</a>
								</li>
								<li class="">
									<a class="page-scroll" href="mailto:dniprogramua@gmail.com"><span class="fa fa-envelope"></span>dniprogramua@gmail.com</a>
								</li>
								<li class="">
									<a class="page-scroll" href="https://www.google.com/maps/@50.4496376,30.4504477,17z"><span class="fa fa-map-marker"></span><%= local.footer.address %></a>
								</li>
							</ul>
						</div>
					</div>
					<!-- END UPPER FOOTER -->
					<!-- LOWER FOOTER -->
					<!-- <div class="lower-footer">
						<div class="pull-left">
							<span>© 2019 Dniprogram. All rights reserved </span>
						</div>
						<div class="pull-right">
							<a href="#"><span class="fa fa-facebook"></span></a>
							<a href="#"><span class="fa fa-paper-plane"></span></a>
							<a href="#"><span class="fa fa-skype"></span></a>
						</div>
					</div> -->
					<!-- END LOWER FOOTER -->
				</div>
			</div>
		</footer>
		<!-- END FOOTER -->
		<!-- POPUP CONTACT FORM -->
		<div id="popup-wrapper" class="popup-wrapper" onclick="closeForm()">
			<div class="popup-container" onclick="stopPropagation(event)">
				<div class="popup-header">
					<h5><%= local.popup.heading %></h5>
					<button class="close" onclick="closeForm()">x</button>
				</div>
				<form id="popup-contact"  class="popup-contact" action="/mail" method="post">
					<fieldset>
						<label for="name"><%= local.popup.form.input.name %></label>
						<input placeholder="<%= local.popup.form.input.name %>" name="name" type="text" tabindex="1" required autofocus>
					</fieldset>
					<fieldset>
						<label for="email">Email</label>
						<input placeholder="Email" name="email" type="email" tabindex="2">
					</fieldset>
					<fieldset>
						<label for="phone"><%= local.popup.form.input.phone %></label>
						<input placeholder="<%= local.popup.form.input.phone %>" name="phone" type="text" tabindex="2">
					</fieldset>
					<fieldset>
						<button name="submit" type="submit" id="contact-submit" class="contact-submit" data-submit="...Sending"><%= local.popup.form.input.send %></button>
					</fieldset>
				</form>
			</div>
		</div>
		<!-- END POPUP CONTACT FORM -->
		<!-- POPUP CALLBACK FORM -->
		<div id="callback-popup-wrapper" class="popup-wrapper" onclick="closeCallForm()">
			<div class="popup-container" onclick="stopPropagation(event)">
				<div class="popup-header">
					<h5>Закажи обратный звонок!</h5>
					<button class="close" onclick="closeCallForm()">x</button>
				</div>
				<form id="popup-request-call" class="popup-contact" action="/mail" method="post">
					<div class="popup-free-operators">
						<% if (operators.recallMessage) { %>
							<p><%= operators.recallMessage %></p>
						<% } else { %>
							<p class="free">
								<b><%= operators.free %><i class="fa fa-phone"></i></b>
								<% if (operators.free > 1) { %>
									<%= local.popup.operators.free.plural %>
								<% } else { %>  
									<%= local.popup.operators.free.singular %>
								<% } %>
							</p>
							<p class="busy">
								<b><%= operators.busy %><i class="fa fa-times"></i></b>
								<% if (operators.busy > 1) { %>
									<%= local.popup.operators.busy.plural %>
								<% } else { %>  
									<%= local.popup.operators.busy.singular %>
								<% } %>
							</p>
						<% } %>
					</div>
					<fieldset>
						<input placeholder="<%= local.popup.form.input.phone %>" name="phone" type="text" tabindex="2" required>
						<button name="submit" type="submit" class="contact-submit" data-submit="...Sending"><i class="fa fa-check"></i></button>
					</fieldset>
				</form>
			</div>
		</div>
		<!-- END POPUP CALLBACK FORM -->
		<!-- CALLBACK WIDGET -->
		<div id="callback-wrapper" onclick="openCallForm()">
			<div class="pulse" id="btn">
				<div class="phone"><i class="fa fa-phone"></i></div>
			</div>
		</div>
		<!-- END CALLBACK WIDGET -->
		<!-- SCRIPTS -->
		<!-- jQuery & Bootstrap -->
		<script src="js/jquery.js"></script>
		<script src="js/jquery.easing.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<!-- smoothscroll  -->
		<script src="js/smoothscroll.js"></script>
		<!-- classie  -->
		<script src="js/classie.js"></script>
		<!-- piechart  -->
		<script src="js/jquery.easytabs.min.js"></script>
		<!-- jquery mask plugin -->
		<script src="js/jquery.mask.js"></script>
		<!-- tabs  -->
		<script src="js/piechart.js"></script>
		<!-- animated header -->
		<script src="js/particles.js" type="text/javascript"></script>
		<!-- sliders -->
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/owl.animate.js"></script>
		<!-- popup -->
		<script src="js/rmodal.js"></script>
		<script src="js/popup.js"></script>
		<!-- callback widget -->
		<script src="js/callwidget.js"></script>
		<!-- contact form -->
		<script src="js/jqBootstrapValidation.js"></script>
		<!-- custom script -->
		<script src="js/scripts.js"></script>
		<!-- numscroller -->
		<script src="js/jquery.numscroller-1.0.js"></script>
		<!-- carousel -->
		<script src="js/slider.js"></script>
	</body>
</html>
