<section id="pricing">
	<div class="container">
		<div class="row header">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading"><%= local.pricing.heading %></h2>
				<span class="separator"></span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="row pricing-title"><%= local.pricing.content1.heading %></div>
				<div class="row pricing">
					<div class="col-lg-3 col-md-3 col-sm-3" >
						<div class="row">
							<span class="pricing-price"><span class="currency">$</span>900+</span>
						</div>
					</div>
					<div class="pricing-row"><span class="pricing-value">
						<span class="pricing-option">
							<i class="fa fa-check"></i>
							<%= local.pricing.onlineStore.content1 %>
						</span>
					</span></div>
					<div class="pricing-row"><span class="pricing-value">
						<span class="pricing-option">
							<i class="fa fa-check"></i>
							<%= local.pricing.onlineStore.content2 %>
						</span>
					</span></div>
					<div class="pricing-row"><span class="pricing-value">
						<span class="pricing-option">
							<i class="fa fa-check"></i>
							<%= local.pricing.onlineStore.content3 %>
						</span>
					</span></div>
					<div class="pricing-row"><span class="pricing-value">
						<span class="pricing-option">
							<i class="fa fa-check"></i>
							<%= local.pricing.onlineStore.content4 %>
						</span>
					</span></div>
					<div class="pricing-row"><span class="pricing-value">
						<span class="pricing-option">
							<i class="fa fa-check"></i>
							<%= local.pricing.onlineStore.content5 %>
						</span>
					</span></div>
					<div class="pricing-row"><span class="pricing-value">
						<span class="pricing-option">
							<i class="fa fa-times"></i>
							<%= local.pricing.onlineStore.content6 %>
						</span>
					</span></div>
					<div class="pricing-row"><span class="pricing-value">
						<span class="pricing-option">
							<i class="fa fa-times"></i>
							<%= local.pricing.onlineStore.content7 %>
						</span>
					</span></div>
					<div class="pricing-row"><span class="pricing-value">
						<span class="pricing-option">
							<i class="fa fa-times"></i>
							<%= local.pricing.onlineStore.content8 %>
						</span>
					</span></div>
					<div class="pricing-row"><span class="pricing-value">
						<span class="pricing-option">
							<i class="fa fa-times"></i>
							<%= local.pricing.onlineStore.content9 %>
						</span>
					</span></div>
					<div class="pricing-row"><span class="pricing-value">
						<span class="pricing-option">
							<i class="fa fa-times"></i>
							<%= local.pricing.onlineStore.content10 %>
						</span>
					</span></div>
					<div class="pricing-row"><span class="pricing-value">
						<span class="pricing-option">
							<i class="fa fa-times"></i>
							<%= local.pricing.onlineStore.content11 %>
						</span>
					</span></div>
					<div class="pricing-row button-container">
						<a class="secondary-button secondary-button-inverse" onclick="openForm()">Выбрать</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="row pricing-title"><%= local.pricing.content2.heading %></div>
				<div class="row pricing active">
					<div class="col-lg-3 col-md-3 col-sm-3" >
						<div class="row">
							<span class="pricing-price"><span class="currency">$</span>1200+</span>
						</div>
					</div>
					<div class="pricing-row"><span class="pricing-value">
						<span class="pricing-option">
							<i class="fa fa-check"></i>
							<%= local.pricing.onlineStore.content1 %>
						</span>
					</span></div>
					<div class="pricing-row"><span class="pricing-value">
						<span class="pricing-option">
							<i class="fa fa-check"></i>
							<%= local.pricing.onlineStore.content2 %>
						</span>
					</span></div>
					<div class="pricing-row"><span class="pricing-value">
						<span class="pricing-option">
							<i class="fa fa-check"></i>
							<%= local.pricing.onlineStore.content3 %>
						</span>
					</span></div>
					<div class="pricing-row"><span class="pricing-value">
						<span class="pricing-option">
							<i class="fa fa-check"></i>
							<%= local.pricing.onlineStore.content4 %>
						</span>
					</span></div>
					<div class="pricing-row"><span class="pricing-value">
						<span class="pricing-option">
							<i class="fa fa-check"></i>
							<%= local.pricing.onlineStore.content5 %>
						</span>
					</span></div>
					<div class="pricing-row"><span class="pricing-value">
						<span class="pricing-option">
							<i class="fa fa-check"></i>
							<%= local.pricing.onlineStore.content6 %>
						</span>
					</span></div>
					<div class="pricing-row"><span class="pricing-value">
						<span class="pricing-option">
							<i class="fa fa-check"></i>
							<%= local.pricing.onlineStore.content7 %>
						</span>
					</span></div>
					<div class="pricing-row"><span class="pricing-value">
						<span class="pricing-option">
							<i class="fa fa-times"></i>
							<%= local.pricing.onlineStore.content8 %>
						</span>
					</span></div>
					<div class="pricing-row"><span class="pricing-value">
						<span class="pricing-option">
							<i class="fa fa-times"></i>
							<%= local.pricing.onlineStore.content9 %>
						</span>
					</span></div>
					<div class="pricing-row"><span class="pricing-value">
						<span class="pricing-option">
							<i class="fa fa-times"></i>
							<%= local.pricing.onlineStore.content10 %>
						</span>
					</span></div>
					<div class="pricing-row"><span class="pricing-value">
						<span class="pricing-option">
							<i class="fa fa-times"></i>
							<%= local.pricing.onlineStore.content11 %>
						</span>
					</span></div>
					<div class="pricing-row button-container">
						<a class="secondary-button" onclick="openForm()">Выбрать</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="row pricing-title"><%= local.pricing.content3.heading %></div>
				<div class="row pricing">
					<div class="col-lg-3 col-md-3 col-sm-3" >
						<div class="row">
							<span class="pricing-price"><span class="currency">$</span>1500+</span>
						</div>
					</div>
					<div class="pricing-row"><span class="pricing-value">
						<span class="pricing-option">
							<i class="fa fa-check"></i>
							<%= local.pricing.onlineStore.content1 %>
						</span>
					</span></div>
					<div class="pricing-row"><span class="pricing-value">
						<span class="pricing-option">
							<i class="fa fa-check"></i>
							<%= local.pricing.onlineStore.content2 %>
						</span>
					</span></div>
					<div class="pricing-row"><span class="pricing-value">
						<span class="pricing-option">
							<i class="fa fa-check"></i>
							<%= local.pricing.onlineStore.content3 %>
						</span>
					</span></div>
					<div class="pricing-row"><span class="pricing-value">
						<span class="pricing-option">
							<i class="fa fa-check"></i>
							<%= local.pricing.onlineStore.content4 %>
						</span>
					</span></div>
					<div class="pricing-row"><span class="pricing-value">
						<span class="pricing-option">
							<i class="fa fa-check"></i>
							<%= local.pricing.onlineStore.content5 %>
						</span>
					</span></div>
					<div class="pricing-row"><span class="pricing-value">
						<span class="pricing-option">
							<i class="fa fa-check"></i>
							<%= local.pricing.onlineStore.content6 %>
						</span>
					</span></div>
					<div class="pricing-row"><span class="pricing-value">
						<span class="pricing-option">
							<i class="fa fa-check"></i>
							<%= local.pricing.onlineStore.content7 %>
						</span>
					</span></div>
					<div class="pricing-row"><span class="pricing-value">
						<span class="pricing-option">
							<i class="fa fa-check"></i>
							<%= local.pricing.onlineStore.content8 %>
						</span>
					</span></div>
					<div class="pricing-row"><span class="pricing-value">
						<span class="pricing-option">
							<i class="fa fa-check"></i>
							<%= local.pricing.onlineStore.content9 %>
						</span>
					</span></div>
					<div class="pricing-row"><span class="pricing-value">
						<span class="pricing-option">
							<i class="fa fa-check"></i>
							<%= local.pricing.onlineStore.content10 %>
						</span>
					</span></div>
					<div class="pricing-row"><span class="pricing-value">
						<span class="pricing-option">
							<i class="fa fa-check"></i>
							<%= local.pricing.onlineStore.content11 %>
						</span>
					</span></div>
					<div class="pricing-row button-container">
						<a class="secondary-button secondary-button-inverse" onclick="openForm()">Выбрать</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>