<section id="development-plan">
    <div class="container">
        <div class="development-plan__items">
            <div class="development-plan__item plan__item--white">
                <div class="development-plan__item-images">
                    <img src="/img/logos/businessCard.png" alt="">
                </div>
                <div class="development-plan__item-text">Створення корпоративного сайту</div>
            </div>
            <div class="development-plan__item plan__item--black">
                <div class="development-plan__item-images--global"></div>
                <div class="development-plan__item-images">
                    <img src="/img/logos/corporate.png" alt="">
                </div>
                <div class="development-plan__item-text">Системний підхід до розробки</div>
            </div>
            <div class="development-plan__item plan__item--white">
                <div class="development-plan__item-images">
                    <img src="/img/logos/idea.png" alt="">
                </div>
                <div class="development-plan__item-text">Фокус на зростанні вашого бізнесу в мережі</div>
            </div>
            <div class="development-plan__item plan__item--black">
                <div class="development-plan__item-images">
                    <img src="/img/logos/key.png" alt="">
                </div>
                <div class="development-plan__item-text">Виділену команду з 5 осіб під проект</div>
            </div>
        </div>
    </div>
</section>

<!-- LEAVE AN APPLICATION -->
<section id="leave-application">
	<div class="container">
		<div class="row">
			<!-- <div class="col-xs-12 col-6">
				<img src="/img/main/chatbot.png" alt="">
			</div> -->
			<div class="col-xs-12 col-sm-6 col-md-6 margin-bottom-50">
				<div>
					<h3><%- local.chatbot.leaveApplication.heading %><br/></h3>
					<p><%- local.chatbot.leaveApplication.subheading %></p>
					<ul>
						<li><%= local.chatbot.leaveApplication.content1 %></li>
						<li><%= local.chatbot.leaveApplication.content2 %></li>
						<li><%= local.chatbot.leaveApplication.content3 %></li>
						<li><%= local.chatbot.leaveApplication.content4 %></li>
						<li><%= local.chatbot.leaveApplication.content5 %></li>
					</ul>
				</div>
			</div>
			<div class="hidden-sm col-sm-6 col-md-6">
				<img src="/img/main/chatbot.png" alt="">
			</div>
		</div>
	</div>
</section>
<!-- END LEAVE AN APPLICATION -->
<!-- WHY WE -->
<section id="why">
	<div class="container">
		<div class="row header">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading"><%= local.chatbot.heading %></h2>
				<span class="separator"></span>
			</div>
		</div>
		<div class="row content">
			<div class="col-6 col-xs-12 col-md-6 col-lg-6">
				<div class="heading">
					<img src="/img/logos/adaptive.png" alt="">
					<h3><%= local.chatbot.content1.heading %></h3>
					<p>
						<%= local.chatbot.content1.text %><br/>
					</p>
				</div>
			</div>
			<div class="col-6 col-xs-12 col-md-6 col-lg-6">
				<div class="heading">
					<img src="/img/logos/idea.png" alt="">
					<h3><%= local.chatbot.content2.heading %></h3>
					<p>
						<%= local.chatbot.content2.text %><br/>
					</p>
				</div>
			</div>
			<div class="col-6 col-xs-12 col-md-6 col-lg-6">
				<div class="heading">
					<img src="/img/logos/text.png" alt="">
					<h3><%= local.chatbot.content3.heading %></h3>
					<p>
						<%= local.chatbot.content3.text %><br/>
					</p>
				</div>
			</div>
			<div class="col-6 col-xs-12 col-md-6 col-lg-6">
				<div class="heading">
					<img src="/img/logos/speed.png" alt="">
					<h3><%= local.chatbot.content4.heading %></h3>
					<p>
						<%= local.chatbot.content4.text %><br/>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END WHY WE -->
