<!-- LEAVE AN APPLICATION -->
<section id="leave-application">
	<div class="container">
		<div class="row">
			<!-- <div class="col-xs-12 col-6">
				<img src="/img/main/desktop.png" alt="">
			</div> -->
			<div class="col-xs-12 col-sm-6 col-md-6 margin-bottom-50">
				<div>
					<h3><%- local.desktop.leaveApplication.heading %><br/></h3>
					<p><%- local.desktop.leaveApplication.subheading %></p>			
					<ul>
						<li><%= local.desktop.leaveApplication.content1 %></li>
						<li><%= local.desktop.leaveApplication.content2 %></li>
						<li><%= local.desktop.leaveApplication.content3 %></li>
						<li><%= local.desktop.leaveApplication.content4 %></li>
					</ul>
				</div>
			</div>
			<div class="hidden-sm col-sm-6 col-md-6">
				<img src="/img/main/desktop.png" alt="">
			</div>
		</div>
	</div>
</section>
<!-- END LEAVE AN APPLICATION -->
<!-- WHY WE -->
<section id="why">
	<div class="container">
		<div class="row header">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading"><%= local.desktop.heading %></h2>
				<span class="separator"></span>
			</div>
		</div>
		<div class="row content">
			<div class="col-6 col-xs-12 col-md-6 col-lg-6">
				<div class="heading">
					<img src="/img/logos/adaptive.png" alt="">
					<h3><%= local.desktop.content1.heading %></h3>
					<p>
						<%= local.desktop.content1.text %><br/>
					</p>
				</div>
			</div>
			<div class="col-6 col-xs-12 col-md-6 col-lg-6">
				<div class="heading">
					<img src="/img/logos/idea.png" alt="">
					<h3><%= local.desktop.content2.heading %></h3>
					<p>
						<%= local.desktop.content2.text %><br/>
					</p>
				</div>
			</div>
			<div class="col-6 col-xs-12 col-md-6 col-lg-6">
				<div class="heading">
					<img src="/img/logos/speed.png" alt="">
					<h3><%= local.desktop.content3.heading %></h3>
					<p>
						<%= local.desktop.content3.text %><br/>
					</p>
				</div>
			</div>
			<div class="col-6 col-xs-12 col-md-6 col-lg-6">
				<div class="heading">
					<img src="/img/logos/text.png" alt="">
					<h3><%= local.desktop.content4.heading %></h3>
					<p>
						<%= local.desktop.content4.text %><br/>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END WHY WE -->