<!-- LEAVE AN APPLICATION -->
<section id="leave-application">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-6 margin-bottom-50">
				<div>
					<h3><%- local.onlineStore.leaveApplication.heading %><br/></h3>
					<p><%- local.onlineStore.leaveApplication.subheading %></p>			
					<ul>
						<li><%= local.onlineStore.leaveApplication.content1 %></li>
						<li><%= local.onlineStore.leaveApplication.content2 %></li>
						<li><%= local.onlineStore.leaveApplication.content3 %></li>
						<li><%= local.onlineStore.leaveApplication.content4 %></li>
						<li><%= local.onlineStore.leaveApplication.content5 %></li>
					</ul>
				</div>
			</div>
			<div class="col-xs-12 col-6">
				<img src="/img/main/onlineStore.png" alt="">
			</div>
		</div>
	</div>
</section>
<!-- END LEAVE AN APPLICATION -->
<!-- WHY WE -->
<section id="why">
	<div class="container">
		<div class="row header">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading"><%= local.onlineStore.heading %></h2>
				<span class="separator"></span>
			</div>
		</div>
		<div class="row content">
			<div class="col-4 col-xs-12 col-md-6 col-lg-4">
				<div class="heading">
					<img src="/img/logos/adaptive.png" alt="">
					<h3><%= local.onlineStore.content1.heading %></h3>
					<p>
						<%= local.onlineStore.content1.text %><br/>
					</p>
				</div>
			</div>
			<div class="col-4 col-xs-12 col-md-6 col-lg-4">
				<div class="heading">
					<img src="/img/logos/idea.png" alt="">
					<h3><%= local.onlineStore.content2.heading %></h3>
					<p>
						<%= local.onlineStore.content2.text %><br/>
					</p>
				</div>
			</div>
			<div class="col-4 col-xs-12 col-md-6 col-lg-4">
				<div class="heading">
					<img src="/img/logos/text.png" alt="">
					<h3><%= local.onlineStore.content3.heading %></h3>
					<p>
						<%= local.onlineStore.content3.text %><br/>
					</p>
				</div>
			</div>
			<div class="col-4 col-xs-12 col-md-6 col-lg-4 col-centered">
				<div class="heading">
					<img src="/img/logos/speed.png" alt="">
					<h3><%= local.onlineStore.content4.heading %></h3>
					<p>
						<%= local.onlineStore.content4.text %><br/>
					</p>
				</div>
			</div>
			<div class="col-4 col-xs-12 col-md-6 col-lg-4 col-centered">
				<div class="heading">
					<img src="/img/logos/seo.png" alt="">
					<h3><%= local.onlineStore.content5.heading %></h3>
					<p>
						<%= local.onlineStore.content5.text %><br/>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END WHY WE -->